body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px solid green;
    width: 80%;
}

.logo-contetn-img {
    border: solid 0px #42515f;
}

.emp-text {
    font: normal normal bold 15px/20px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #82a70c;
    text-transform: capitalize;
}

.emp-payroll {
    color: #42515f;
}

* {
    box-sizing: border-box;
}


/* UC2 */

.form-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    padding: 12px;
}

.form {
    width: 65%;
    background: white;
    padding: 44px 50px;
    box-shadow: 0px 3px 6px grey;
    border: 1px solid;
    opacity: 1;
    border-radius: 8px;
    align-items: center;
}

.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    text-transform: capitalize;
    opacity: 1;
    color: #42515f;
    padding-bottom: 26px;
}

.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
}

.row-content-gender {
    width: 100%;
    margin: 0;
}

.label {
    width: 20%;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    font-weight: bold;
}

.text {
    font-size: 16px;
    color: black;
    opacity: 1;
    font-family: Roboto;
}

.input {
    width: 81%;
    padding: 12px;
    border-radius: 4px;
    resize: vertical;
    border: 1px solid grey;
}


/* UC3 */

.profile-radio-content {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.profile-radio-content label {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.profile {
    width: 40px;
    margin-left: 15px;
    border-radius: 5px;
}


/* UC5 */

select {
    padding: 12px;
    border-radius: 6px;
    font: normal normal 16px Roboto;
    resize: vertical;
    border: 1px solid;
    letter-spacing: 0px;
    color: #8f98a1;
    background-color: transparent;
}

.buttonParent {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 30px;
}

button {
    font-size: 14px;
    padding: 7px 7px;
    width: 140px;
    font-family: "Roboto";
    border-radius: 4px;
    opacity: 1;
    background-color: #e2e2e2;
    border: none;
    letter-spacing: 0px;
}

.submitButton {
    margin-right: 30px;
}

.cancelButton {
    text-decoration: none;
    color: black;
    text-align: center;
}

error-output {
    margin-left: 10px;
    font-size: 12px;
    font-style: italic;
    color: red;
}